* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;


}
body{
    overflow-x: hidden;
}

.video {
    width: 100%;
    height: 100vh;
    /* background-color: white; */
    /* background-image: url("https://images.pexels.com/photos/134575/pexels-photo-134575.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
    /* background-image: url("https://images.pexels.com/photos/1346345/pexels-photo-1346345.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
    /* background-image: url("./images/bgpic1.jpg");
    background-size: cover;
    background-attachment: fixed; */



    /* padding: -300px; */



}


#background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    /* min-width: 100%;  */
    /* min-height: 100%; */
    z-index: -1;
    /* Send it to the background */
    object-fit: cover;
    /* Ensures the video covers the entire screen */

}


nav {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 1; */
    /* background-color: #6d0819; */
    /* background-color: #f2909a; */
    /* background-color:rgba(79, 7, 7); */



}

/* ggggggggggggg */
#check {
    display: none;
}

.icons {
    font-size: 2.4rem;
    color: blueviolet;
    font-weight: 600;
    position: absolute;
    right: 5%;
    display: none;
    cursor: pointer;
}



#logo {
    margin: 40px;
    /* color: white;
    color: #fddf85; */
    font-family: "Dancing Script", system-ui;
    color: rgba(79, 7, 7);
    /* color: white; */
    letter-spacing: 0px;
    font-weight: 1000px;
    font-size: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}

span {
    font-family: "Merriweather", serif;
    font-size: 50px;
}

nav .navbar ul {
    display: flex;
    flex-direction: row;
}

nav .navbar ul li {
    list-style: none;
}

nav .navbar ul li a {
    text-decoration: none;
}

/* .list-item {
    list-style: none;
    display: inline;
    transition: font-size 0.5s;
}
.list-item:hover{
    font-size: 18px;
} */

.links {
    margin-right: 30px;
    text-decoration: none;
    /* color: rgb(255, 255, 255); */
    color: rgba(79, 7, 7);
    font-weight: 900;
}

.links:hover {
    text-decoration: underline;
    color: rgb(214, 67, 67);
}


#heads {
    /* color: rgb(210, 56, 112); */
    /* color:#f2909a; */
    /* color: white; */
    color: rgba(79, 7, 7);
    /* font-family: "Dancing Script", system-ui; */
    /* font-family: "Playwrite DE Grund", system-ui; */
    font-family: "Satisfy", cursive;
    font-size: 70px;
    text-align: center;
    margin-top: 10%;
    margin-left: 35%;
    font-weight: 500;




}

.bg2 {
    /* https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?cs=srgb&dl=pexels-chanwalrus-958545.jpg&fm=jpg */
    /* https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1 */
    /* https://timelinecovers.pro/facebook-cover/download/cherry-chocolate-cake-facebook-cover.jpg */
    width: 100%;
    height: 100vh;
    /* background-image: url("./images/bgpic2"); */
    background-image: url("./images/bg22");
    background-size: cover;
    background-attachment: fixed;
}

.welcomepart {
    width: 100%;
    height: 50%;
    background-color: whitesmoke;
    opacity: 0.9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -242px;

    /* display: grid;
     grid-template-columns:repeat(2,1fr);
     gap: 70px;
     align-items: center;
     padding-left:90px; */
}

.welcomecontent {
    width: 20%;
    height: 70%;

    /* background-color: rgb(252, 255, 255); */
}

.imgwelcome {
    width: 30%;
    height: 80%;
    /* background-color: aqua; */
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#welhead {
    text-align: center;
    margin-bottom: 10px;
    /* color: rgb(160, 36, 36); */
    /* color: rgba(79, 7, 7); */
    /* color: black; */
    color: rgba(79, 7, 7);
    font-size: 40px;

}

/* me */

#para {
    text-align: center;
    /* color: rgb(220, 56, 56); */
    /* color: rgba(79, 7, 7); */
    color: rgba(79, 7, 7);
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
}

.bg3 {
    width: 100%;
    height: 100vh;
    /* background-image: url("./images/bgpic3.webp"); */
    background-image: url("./images/bg33");
    background-size: cover;
    background-attachment: fixed;
}

.transparent {
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */

}

#cake {
    text-align: center;
    margin-top: 130px;
    color: rgb(250, 249, 249);
    font-size: 48px;
}

.cakepart {
    width: 100%;
    height: 50%;
    /* background-color: rgba(255, 255, 255); */
    background-color: whitesmoke;
    opacity: 0.9;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.imgcake {
    width: 30%;
    height: 80%;
    /* background-color: aqua; */
}

.cakecontent {
    width: 20%;
    height: 70%;
    /* background-color: aqua; */
}

#cakehead {
    text-align: center;
    margin-bottom: 10px;
    /* color: rgb(160, 36, 36); */
    color: rgba(79, 7, 7);
}


/* .cakepart{
     width: 100%;
     height: 50%;
     background-color: white;
} */

#img2 {
    width: 100%;
    height: 100%;
}

.locationspart {
    width: 100%;
    height: 700px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#locmainhead {
    text-align: center;
    /* color: rgb(160, 36, 36); */
    /* color: rgba(79, 7, 7); */
    /* color: #fddf85; */
    color: rgba(79, 7, 7);
    font-family: "Merriweather", serif;
    font-size: 60px;
}

.locations {
    width: 25%;
    height: 80%;
    /* background-color: rgb(17, 255, 0); */

}

.loc {
    width: 100%;
    height: 70%;
    /* border-radius: 0px; */
}

.loccontents {
    text-align: center;
    margin-bottom: 20px;
    /* color: rgb(160, 36, 36); */
    /* color: rgba(79, 7, 7); */
    /* color: #fddf85; */
    color: rgba(79, 7, 7);

}

.booking {
    /* color: rgb(160, 36, 36); */
    /* color: rgba(79, 7, 7); */
    /* color: #fddf85; */
    color: rgba(79, 7, 7);
}

#statement {
    width: 100%;
    height: 120px;
    text-align: center;
    padding: 10px;
    font-size: 40px;
    /* color: #fffdfd; */
    color: rgba(79, 7, 7);
    /* background-color:rgba(194, 48, 48, 0.3); */
    /* background-color: rgba(81, 3, 3); */
    /* background-color:#f8e4a8; */
    background-image: url("./images/croi.jpg");
    background-size: cover;
    background-attachment: fixed;
    /* font-family: "Playwrite DE Grund", cursive; */
    font-family: "Playball", cursive;
    font-weight: 700;


}

#pastry {
    width: 100%;
    height: 700px;
    /* background-color: aqua; */
    padding-top: 150px;

    /* background-color: rgb(60, 255, 0); */
    /* float: left; */
    /* background-color:  #85182a; */
    /* border: solid #4b161f; */


}

/* #chefimg{
    width: 10%;
    height: 40%;
} */
#pastryitems {
    width: 75%;
    height: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: wrap;
    margin-left: 11%;


}

.item {
    position: relative;
    width: 250px;
    height: 350px;
    transition: width 0.5s;
    transition: height 0.5s;

}

.item .eattparent {
    height: 302px;
    width: 280px;
    background-color: white;
    opacity: 0.1;
    position: absolute;
    top: 0px;
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item .eatt {
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 25px;
}

.item:hover {
    width: 280px;
    height: 380px;

}

.item .eattparent:hover {
    color: rgb(143, 15, 126);
    opacity: 0.5;
    cursor: pointer;
    text-align: center;

}

/* .eatt{
    text-align: center;
} */

.eat {
    width: 100%;
    height: 80%;
    border: solid rgba(79, 7, 7) 3px;



}

footer {
    width: 100%;
    height: 500px;
    background-color: #e8d494;
    /* background-image: url("https://images.pexels.com/photos/2955816/pexels-photo-2955816.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    background-attachment: fixed; */
    ;
    /* background-color:rgba(79, 7, 7, 0.6); */
    /* background-color: #4b161f; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 80px 0px 0px 160px;
    color: rgba(79, 7, 7);

}

.footlinks {
    text-decoration: none;
    color: rgba(79, 7, 7);


}

.brands {
    margin-right: 40px;
    border: solid;
    border-radius: 50%;
    padding: 5px;


}

.footlist {
    list-style: none;
    margin-bottom: 20px;
}

.foothead {
    margin-bottom: 40px;
}

section h2 {
    text-align: center;
    margin-top: 10px;
    color: #4b161f;
}

.footlinks:hover {
    text-decoration: underline;
    font-size: 20px;
}

.footlinks:hover .brands {
    font-size: 40px;
    /* transform: 2s; */
}


/* gggggggggggggggg */



@media(max-width:760px) {
    .icons {
        display: flex;
    }

    #closeicon {
        display: none;
    }

    #check:checked~.icons #menuicon {
        display: none;
    }


    #check:checked~.icons #closeicon {
        display: block;
    }

    #check:checked~.navbar ul {
        display: block;
    }


    nav .navbar {
        position: absolute;
        top: 100px;
        width: 100%;
        z-index: 1;

    }

    nav .navbar ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        background-color: white;
        text-align: center;
        display: none;
    }

    nav .navbar ul li {
        margin-top: 10px;
    }

    .welcomepart {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }
    .welcomecontent{
        width: 400px;
    }
    .welcomepart img{
       width: 100%;
    }
    .video #heads{
        font-size: 40px;
    }
    .cakepart{
        height: 100%;
        display: flex;
        flex-wrap: wrap;
      
    }
    .cakepart .imgcake{
        width: 300px;
        height: 300px;
        border-radius: 20px;
        margin-top: 10px;
       
    }
    .cakepart .img{
        width: 100%;
        height: 100%;
    }
    .cakepart .cakecontent{
        width: 400px;
    }
    .locationspart{
        display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
        height: 100%;

        padding-left: 10px;
    }
    .locationspart #loc1{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       width: 400px;
       height: auto;
    }
    .locationspart #loc1 img{
        width: 300px;
        height: 300px;
    }
    .locationspart #locmainhead{
        font-size: 40px;
    }
    .locationspart #loc2{
     
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       width: 400px;
       height: auto;

    }
    #statement{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #statement h1{
        font-size: 30px;
    }
    #pastry{
        height: 100%;
    }
    #pastryitems{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    footer{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

}
/* footer {
    width: 100%;
    height: 500px;
    background-color: #e8d494;
    /* background-image: url("https://images.pexels.com/photos/2955816/pexels-photo-2955816.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    background-attachment: fixed; 
    ;
    /* background-color:rgba(79, 7, 7, 0.6);
    /* background-color: #4b161f; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 80px 0px 0px 160px;
    color: rgba(79, 7, 7);

}

.footlinks {
    text-decoration: none;
    color: rgba(79, 7, 7);


}

.brands {
    margin-right: 40px;
    border: solid;
    border-radius: 50%;
    padding: 5px;


}

.footlist {
    list-style: none;
    margin-bottom: 20px;
}

.foothead {
    margin-bottom: 40px;
}

section h2 {
    text-align: center;
    margin-top: 10px;
    color: #4b161f;
}

.footlinks:hover {
    text-decoration: underline;
    font-size: 20px;
}

.footlinks:hover .brands {
    font-size: 40px;
    /* transform: 2s; 
}
 */
